@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Scrollbar sutil */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F5EDE3;
}

::-webkit-scrollbar-thumb {
  background: #BFA887;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8B6F4E;
}
